@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Neucha", cursive;
}

.App{
  width: 100vw;
  height: 100vh;
  background: #2f74c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.heading{
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin: 30px 0px;
  z-index: 1;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .heading{
    font-size: 35px;
    margin: 15px;
  }
  
}
